@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p> This is a passion project built by vision and execution. More than 60 percent of people live paycheck to paycheck. This is a project that reduces that statistic. We are a team of developers, designers, and business professionals who are passionate about helping people save money. We believe that everyone should have access to the best personal finance. Our goal is to make it easy for you to find the best financial freedom possible.</p>

