@page
@model BudgetApp.Pages.Shared.MainpageModel
@{
}

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>

        .container {
            display: flex;
            justify-content: space-between;
            gap: 800px;
        }

        .budgetbox, .expensebox {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 300px;
            flex: 1;
        }

        .expensebox {
            margin-left: auto; /* Flyttar rutan till höger */
        }

        body {
            background: linear-gradient(to right, #e2e2e2, #c9d6ff);
        }

    </style>
</head>


<div class="container">
<div class="budgetbox">
    <form method="post">
        <h1>Budget</h1>
        <fieldset style="display: flex; flex-direction: column; gap: 10px; max-width: 300px;">
            <label for="income">Income</label>
            <input type="number" placeholder="Enter Total Amount"  id="income" name="income" required>
            <button type="submit" style="width: 120px; height: 35px; white-space: nowrap; border-radius:50px; background-color: blue; color: white;">Set Budget</button>
        </fieldset>
    </form>
</div>

    <div class="expensebox">
        <form method="post">
            <h1>Expenses</h1>
            <fieldset style="display: flex; flex-direction: column; gap: 10px; max-width: 300px;">
                <label for="expenseName">Expense Title</label>
                <input type="text" placeholder="Enter Title Of Product" id="expenseName" name="expenseName" required>

                <label for="expenseAmount">Amount</label>
                <input type="number" placeholder="Enter Cost Of Product" id="expenseAmount" name="expenseAmount" required>

                <label for="expenseCategory">Category</label>
                <select id="expenseCategory" name="expenseCategory" required>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
               </select>
                <button type="submit" style="width: 120px; height: 35px; white-space: nowrap; border-radius: 50px; background-color: red; color: white;">
                    Add Expense
                </button>
            </fieldset>
        </form>
    </div>
